
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Connect Bank</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div th:replace="./fragments/navbar"></div>
    <section class="grid h-full place-items-center  gradient-form bg-gray-200 md:h-screen ">

		<form class="w-full max-w-lg " th:action="@{/process_connectBank}"  method="post" th:object="${bank}" required>
		    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
		      <label class="block tracking-wide text-black text-s font-bold mb-2">
		        Connect a Bank 
		      </label>
		      <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-green-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="bankName" type="text" placeholder="Bank Name"  th:field="*{bankName}" required >
		
		     <button type="submit"
	                      class="inline-block px-6 py-2 border-2 border-green-600 text-green-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
	                      data-mdb-ripple="true"
	                      data-mdb-ripple-color="light"
	                    >
	                      Connect
	                    </button> 
		    
		</form>
		</br> </br>
		<a th:href="@{/showBank}"> <button type="button" class="inline-block px-6 py-2 border-2 border-red-600 text-red-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"> View Banks Data</button> </a>
					
				
		</div>
		
		
	</section>

 <script src="/js/main.js"></script>
    
    
  </body>
</html>