<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>OWallet SignUp</title>
<link rel="stylesheet" href="/css/main.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<!-- <h1> Welcome to Our OWallet!</h1> -->
<!-- <form th:action="@{/process_signup}" method="post" th:object="${user}" required > -->
<!-- <div> <label> First Name</label> <input type="text"  th:field="*{firstname}" required/> </div> -->
<!-- <div> <label> Last Name</label> <input type="text" th:field="*{lastname}"   required/> </div> -->
<!-- <div> <label> Email</label> <input type="email"  th:field="*{email}" required /> </div> -->
<!-- <div> <label> Password</label> <input type="password"  th:field="*{password}" minlength=3 required /> </div> -->
<!-- <div> <label> Phone Number</label> <input type="text" th:field="*{phonenumber}"  required/> </div> -->
<!-- <div> <input type="submit" value="Sign Up"/> </div> -->
<!-- </form> -->
<!-- <br> -->
<!-- <br> -->
<!-- <h5> <a th:href="@{/}"> Already have account? Login</a></h5> -->

<section class="grid h-full place-items-center  gradient-form bg-gray-200 md:h-screen ">
	  <div class="container py-12 px-6 h-full ">
	    <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
	      <div class="xl:w-10/12">
	        <div class="block bg-white shadow-lg rounded-lg">
	          <div class="lg:flex lg:flex-wrap g-0">
	            <div class="lg:w-6/12 px-4 md:px-0">
	              <div class="md:p-12 md:mx-6">
	                <div class="text-center">
<!-- 	                  <img -->
<!-- 	                    class="mx-auto w-48" -->
<!-- 	                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" -->
<!-- 	                    alt="logo" -->
<!-- 	                  /> -->
	                  <h4 class="text-xl font-semibold mt-1 mb-12 pb-1">We are The Lotus Team</h4>
	                </div>
	                <form th:action="@{/process_signup}" method="post" th:object="${user}" required>
	                  <p class="mb-3">Sign up</p>
	                  <div class="mb-4">
	                    <input
	                      type="text"
	                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
	                      id="firstname"
	                      placeholder="First Name"
	                      th:field="*{firstname}" required
	                    />
	                  </div>
	                  <div class="mb-3">
	                    <input
	                      type="text"
	                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
	                      id="lastname"
	                      placeholder="Last Name"
	                      th:field="*{lastname}"   required
	                    />
	                  </div>
	                  
	                  <div class="mb-3">
	                    <input
	                      type="text"
	                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
	                      id="phone"
	                      placeholder="Phone Number"
	                      th:field="*{phonenumber}"  required
	                    />
	                  </div>
	                  
	                  <div class="mb-3">
	                    <input
	                      type="email"
	                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
	                      id="email"
	                      placeholder="Email"
	                      th:field="*{email}" required
	                    />
	                  </div>
	                  <div class="mb-3">
	                    <input
	                      type="password"
	                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
	                      id="password"
	                      placeholder="Password"
	                      th:field="*{password}" minlength=6 required
	                    />
	                  </div>
	                  <div class="text-center pt-1 mb-12 pb-1">
	                    <button type="submit"
	                      class="inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3"
	                    
	                      data-mdb-ripple="true"
	                      data-mdb-ripple-color="light"
	                      style="
	                        background: linear-gradient(
	                          to right,
	                          #ee7724,
	                          #d8363a,
	                          #dd3675,
	                          #b44593
	                        );
	                      "
	                    >
	                      Sign Up
	                    </button>
	                  </div>
	                  <div class="flex items-center justify-between pb-6">
	                    <p class="mb-0 mr-2">Already have an account?</p>
	                  <a th:href="@{/}">  <button type="button"
	                      class="inline-block px-6 py-2 border-2 border-red-600 text-red-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
	                      data-mdb-ripple="true"
	                      data-mdb-ripple-color="light"
	                    >
	                      Log In
	                    </button> </a>
	                  </div>
	                </form>
	              </div>
	            </div>
	            <div
	              class="lg:w-6/12 flex items-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none"
	              style="
	                background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
	              "
	            >
	              <div class="text-white px-4 py-6 md:p-12 md:mx-6">
	                <h4 class="text-xl font-semibold mb-6">We are more than just a company</h4>
	                <p class="text-sm">
	                 Swift is a website that helps people make online payments/ transactions and redeem coupon codes from different services.

					Swift is a payment processing website dedicated to providing its users with the best solutions for online payments.

					 It is fast and convenient!
	                </p>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>

 <script src="/js/main.js"></script>

</body>
</html>